
/* Bloque del contenedor principal */
.scrollspy-elements{
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollspy-elements::-webkit-scrollbar {
    width: 0;
}

/* Bloque de elementos */
.element-info{
    height: auto;
}

/* Subtitulo*/
.subtitle-info{
    text-align: center;
}

/* Tecnologias empleadas */

.technologies-project{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


@media screen and (max-width: 1308px) {
    .list-selector{
        display: none;
        font-size: 3rem;
    }
}

@media screen and (min-width: 1309px) {
    .title-page{
        font-size: 4.5rem;
    }
    .container-information-projects{
        display: grid;
        width: 90%;
        grid-template-columns: 250px auto;
        gap: 1rem;
        align-self: center;    
    }

    .element-info{
        min-height: 100%;
    }
    .subtitle-info{
        text-align: left;
    }
}


@media screen and (max-width: 991px) {
    .technologies-project{
        grid-template-columns: repeat(2, auto);
    }
    
}

@media screen and (max-width: 367px) {
    .technologies-project{
        grid-template-columns: repeat(1,auto);
    }
    
}