.page-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:  column;
    gap: 2rem;
}

.modal-win-img{
    max-width: 250px;
}

.player-turn-txt{
    padding: .25rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-weight: 700;
}

.player-winner-name{
    text-transform: capitalize;
}

.score-user{
    width: 300px;
}

.score-user h4, .score-user p{
    margin-bottom: .25rem;
    margin-left: .25rem;
}
.svg-player-score{
    margin-left: .25rem;
    width: 22px;
}    

.p-player-name{
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.p-user-score{
    width: 20px;
    text-align: right;
}