.page-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:  column;
    gap: 2rem;
}

.modal-win-img{
    max-width: 250px;
}

.player-turn-txt{
    text-transform: capitalize;
    width: 200px;
    text-align: center;
}