.main-section-page {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    justify-content: start;
    align-items: start;
    align-content: start;
    min-height: calc(100vh - 70px);
}

.main-section-page .buttons-section .btn {
    width: 280px;
    font-size: 1.1rem;
    text-transform: uppercase;
}


