.main-section-page{
    display: grid;
    grid-template-rows: auto auto 1fr;
    min-height: calc(100vh - 70px);
    padding-bottom: 5rem;
}

.main-section-page .buttons-section .btn{
    width: 280px;
    font-size: 1.1rem;
    text-transform: uppercase;
}


.page-container .title-game-connect4{
    font-size: 6rem;
}

@media screen and (max-width: 700px) {
    .page-container .title-game-connect4{
        font-size: 4rem;
    }
    
}